{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/formato.css">
</head>
<body>
    <div class="container">
        <!-- Header Section -->
        <header class="header">
            <h3>Peritaje Automotriz</h3>
        </header>
    <main>
        <div class="date-plate">
            <div>
                CLIENTE: {{  cliente }}
            </div>
            <div class="plate">
                FECHA: {{  fecha }}

            </div>
        </div>
        <!-- Vehicle Data Section -->
        <div class="section">
            <div class="section-title">
                DATOS DE VEHÍCULO
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>PLACA</th>
                            <td>{{  placa_carro }}</td>
                            <th>COLOR</th>
                            <td>{{  color }}</td>
                        </tr>
                        <tr>
                            <th>MARCA</th>
                            <td>{{  marca }}</td>
                            <th>CILINDRAJE</th>
                            <td>{{  cilindraje }}</td>
                        </tr>
                        <tr>
                            <th>MODELO(AÑO)</th>
                            <td>{{  modelo }}</td>
                            <th>COMBUSTIBLE</th>
                            <td>{{  combustible }}</td>
                        </tr>
                        <tr>
                            <th>KILOMETRAJE</th>
                            <td>{{  kilometraje }}</td>
                            <th>CARROCERÍA</th>
                            <td>{{  carroceria }}</td>
                        </tr>
                        <tr>
                            <th>LINEA(VERSIÓN)</th>
                            <td>{{  linea }}</td>
                            <th>SERVICIO</th>
                            <td>{{  servicio }}</td>
                        </tr>
                        <tr>
                            <th>TIPO DE CAJA</th>
                            <td>{{  tipo_caja }}</td>
                            <th>CATEGORÍA</th>
                            <td>{{  categoria }}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Latoneria and Painting Section -->
        <div class="section">
            <div class="section-title">
                LATONERÍA Y PINTURA
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>CAPOT</td>
                            <td>{{  capot_seleccionado|join:", " }}</td>
                            <td>GUARDABARRO TRA DER</td>
                            <td>{{  guardabarro_der_tra_seleccionado|join:", " }}</td>
                            
                        </tr>
                        <tr>
                            <td>AREA MOTOR/PARALLAMAS</td>
                            <td>{{  torpedo_seleccionado|join:", " }}</td>
                            <td>PUERTA TRASERA DER</td>
                            <td>{{  puerta_trasera_der_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>BOMPER DEL</td>
                            <td>{{  bomper_del_seleccionado|join:", " }}</td>
                            <td>ESTRIBO DER</td>
                            <td>{{  estribo_der_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>GUARDABARRO DEL IZQ</td>
                            <td>{{  guarda_fango|join:", " }}</td>
                            <td>PUERTA DEL DER</td>
                            <td>{{  guardabarro_del_der|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>ESTRIBO IZQ</td>
                            <td>{{  estribo_izq_seleccionado|join:", " }}</td>
                            <td>GUARDABARRO DEL DER</td>
                            <td>{{  guardabarro_del_der|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PUERTA DEL IZQ</td>
                            <td>{{  puerta_del_izq_seleccionado|join:", " }}</td>
                            <td>COSTADO DER</td>
                            <td>{{  costado_der_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PUERTA TRASERA IZQ</td>
                            <td>{{  puerta_trasera_izq_seleccionado|join:", " }}</td>
                            <td>CAPOTA/TECHO</td>
                            <td>{{  capota_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>GUARDABARRO TRA IZQ</td>
                            <td>{{  guardabarro_tras_izq|join:", " }}</td>
                            <td>COSTADO IZQ</td>
                            <td>{{  costado_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>BOMPER TRA</td>
                            <td>{{  bomper_tra_seleccionado|join:", " }}</td>
                            <td>TAPA BAUL</td>
                            <td>{{  tapa_baul_seleccionado|join:", " }}</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>

        <!-- Chasis Section -->
        <div class="section">
            <div class="section-title">
                CHASIS
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>ALMA BOMPER DEL</td>
                            <td>{{  alma_bomper_del_seleccionado|join:", " }}</td>
                            <td>ALMA BOMPER TRA</td>
                            <td>{{  alma_bomper_tra_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PUNTA CHASIS DEL. DER</td>
                            <td>{{  punta_chasis_del_seleccionado|join:", " }}</td>
                            <td>PUNTA CHASIS DEL. IZQ</td>
                            <td>{{  punta_chasis_del_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>TRAVIESA SUPERIOR</td>
                            <td>{{  traviesa_superior_seleccionado|join:", " }}</td>
                            <td>TRAVIESA INFERIOR</td>
                            <td>{{  traviesa_inferior_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>G/POLVO MET DEL. DER</td>
                            <td>{{  polvo_met_del_der_seleccionado|join:", " }}</td>
                            <td>G/POLVO MET. INFERIOR</td>
                            <td>{{  polvo_met_del_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PARAL PANO. DER</td>
                            <td>{{  paral_pano_der_seleccionado|join:", " }}</td>
                            <td>PARAL PANO. IZQ</td>
                            <td>{{  paral_pano_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PARAL PTA. DER</td>
                            <td>{{  paral_pta_der_seleccionado|join:", " }}</td>
                            <td>PARAL PTA. IZQ</td>
                            <td>{{  paral_pta_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PARAL CENT. DER</td>
                            <td>{{  paral_cent_der_seleccionado|join:", " }}</td>
                            <td>PARAL CENT. IZQ</td>
                            <td>{{  paral_cent_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>LARGUERO CAPOTA DER</td>
                            <td>{{  larguero_capota_der_seleccionado|join:", " }}</td>
                            <td>LARGUERO CAPOTA IZQ</td>
                            <td>{{  larguero_capota_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PANEL TRA</td>
                            <td>{{  panel_tra_seleccionado|join:", " }}</td>
                            <td>PISO BAUL/PLATON</td>
                            <td>{{  piso_baul_platon_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>G/POLVO MET. TRA. DER</td>
                            <td>{{  g_polvo_met_tra_der_seleccionado|join:", " }}</td>
                            <td>G.POLVO MET. TRA. IZQ</td>
                            <td>{{  g_polvo_met_tra_izq_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PISO CARROCERIA</td>
                            <td>{{  piso_carroceria_seleccionado|join:", " }}</td>
                            <td>PUNTA TRA. DER</td>
                            <td>{{  punta_tra_der_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>REFUERZO PISO</td>
                            <td>{{  refuerzo_piso_izq_seleccionado|join:", " }}</td>
                            <td>CUNA MOTOR</td>
                            <td>{{  cuna_motor_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PUNTA TRA. IZQ</td>
                            <td>{{  punta_tra_izq_seleccionado|join:", " }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
    
                <!-- Additional Information -->

                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_chasis }}
                </div>
            </div>
        </div>

        <!-- Interior Cabina Section -->
        <div class="section">
            <div class="section-title">
                INTERIOR CABINA
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>CARTERAS:</td>
                            <td>{{  carteras_seleccionado|join:", " }}</td>
                            <td>CINTURONES:</td>
                            <td>{{  cinturones_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>CONSOLA:</td>
                            <td>{{  consola_seleccionado|join:", " }}</td>
                            <td>ESPEJO INTERIOR:</td>
                            <td>{{  espejo_interior_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>FUNCIONAMIENTO SILLAS:</td>
                            <td>{{  funcionamiento_sillas_seleccionado|join:", " }}</td>
                            <td>GUANTERA:</td>
                            <td>{{  guantera_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>MILLARE:</td>
                            <td>{{  millare_seleccionado|join:", " }}</td>
                            <td>PARASOL:</td>
                            <td>{{  parasol_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>PERSIANA:</td>
                            <td>{{  persiana_seleccionado|join:", " }}</td>
                            <td>TAPICERÍA PISO:</td>
                            <td>{{  tapiceria_piso_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>TAPICERÍA SILLAS:</td>
                            <td>{{  tapiceria_sillas_seleccionado|join:", " }}</td>
                            <td>TAPIZADO TECHO:</td>
                            <td>{{  tapiceria_techo_seleccionado|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>TIMON:</td>
                            <td>{{  timon_seleccionado|join:", " }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Sistema Electrico Section -->
        <div class="section">
            <div class="section-title">
                SISTEMA ELECTRICO 
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>NOTA</th>
                        </tr>
                        <tr>
                            <td>A/AC:</td>
                            <td>{{  a_ac }}</td>
                            <td>{{  nota_a_ac }}</td>
                        </tr>
                        <tr>
                            <td>CALEFACCIÓN:</td>
                            <td>{{  calefaccion }}</td>
                            <td>{{  nota_calefaccion }}</td>
                        </tr>
                        <tr>
                            <td>ENCENDIDO:</td>
                            <td>{{  encendido }}</td>
                            <td>{{  nota_encendido }}</td>
                        </tr>
                        <tr>
                            <td>PLUMILLAS:</td>
                            <td>{{  plumillas }}</td>
                            <td>{{  nota_plumillas }}</td>
                        </tr>
                        <tr>
                            <td>SILLAS ELECTRICAS:</td>
                            <td>{{  sillas_elect }}</td>
                            <td>{{  nota_sillas_elect }}</td>
                        </tr>
                        <tr>
                            <td>BLOQUEO CENTRAL:</td>
                            <td>{{  bqueo_central }}</td>
                            <td>{{  nota_bqueo_central }}</td>
                        </tr>
                        <tr>
                            <td>SIST VIDRIOS ELECTRICOS:</td>
                            <td>{{  e_vidrios_elect }}</td>
                            <td>{{  nota_e_vidrios_elect }}</td>
                        </tr>
                        <tr>
                            <td>ESPEJOS ELECTRICOS:</td>
                            <td>{{  espejos_elect }}</td>
                            <td>{{  nota_espejos_elect }}</td>
                        </tr>
                        <tr>
                            <td>RADIO:</td>
                            <td>{{  radio }}</td>
                            <td>{{  nota_radio }}</td>
                        </tr>
                        <tr>
                            <td>SUNROOF:</td>
                            <td>{{  sunroof }}</td>
                            <td>{{  nota_sunroof }}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_sis }}
                </div>
            </div>
        </div>

        <!-- Luces Section -->
        <div class="section">
            <div class="section-title">
                LUCES
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>NOTA</th>
                        </tr>
                        <tr>
                            <td>ALTAS:</td>
                            <td>{{  altas }}</td>
                            <td>{{  nota_altas }}</td>
                        </tr>
                        <tr>
                            <td>COCUYOS:</td>
                            <td>{{  cocuyos }}</td>
                            <td>{{  nota_cocuyos }}</td>
                        </tr>
                        <tr>
                            <td>REVERSA:</td>
                            <td>{{  reversa }}</td>
                            <td>{{  nota_reversa }}</td>
                        </tr>
                        <tr>
                            <td>DIRECCIONALES:</td>
                            <td>{{  direccionales }}</td>
                            <td>{{  nota_direccionales }}</td>
                        </tr>
                        <tr>
                            <td>LUZ TECHO:</td>
                            <td>{{  luz_techo }}</td>
                            <td>{{  nota_luz_techo }}</td>
                        </tr>
                        <tr>
                            <td>TERCER STOP:</td>
                            <td>{{  tercer_stop_luz }}</td>
                            <td>{{  nota_tercer_stop_luz }}</td>
                        </tr>
                        <tr>
                            <td>LUCES LATERALES:</td>
                            <td>{{  luces_laterales }}</td>
                            <td>{{  nota_luces_laterales }}</td>
                        </tr>
                        <tr>
                            <td>BAJAS:</td>
                            <td>{{  bajas }}</td>
                            <td>{{  nota_bajas }}</td>
                        </tr>
                        <tr>
                            <td>FRENO:</td>
                            <td>{{  freno }}</td>
                            <td>{{  nota_freno }}</td>
                        </tr>
                        <tr>
                            <td>ESTACIONARIAS:</td>
                            <td>{{  estacionarias }}</td>
                            <td>{{  nota_estacionarias }}</td>
                        </tr>
                        <tr>
                            <td>LUZ PLACA:</td>
                            <td>{{  placa }}</td>
                            <td>{{  nota_placa }}</td>
                        </tr>
                        <tr>
                            <td>EXPLORADORAS:</td>
                            <td>{{  exploradoras_luz }}</td>
                            <td>{{  nota_exploradoras_luz }}</td>
                        </tr>
                        <tr>
                            <td>ANTIENEBLA:</td>
                            <td>{{  antinieblas }}</td>
                            <td>{{  nota_antinieblas }}</td>
                        </tr>

                    </tbody>
                </table>
                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_luces }}
                </div>
            </div>
        </div>

        <!-- Vidrios Section -->

        <div class="section">
            <div class="section-title">
                VIDRIOS
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>PANORAMICO DEL:</td>
                            <td>{{  panoramico_del|join:", " }}</td>
                            <td>VIDRIOS TRASEROS IZQUIERDO:</td>
                            <td>{{  vidrios_tra_izq|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>FAROLA DERECHA:</td>
                            <td>{{  farola_der|join:", " }}</td>
                            <td>STOP IZQUIERDO:</td>
                            <td>{{  stop_izq|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>FAROLA IZQUIERDA:</td>
                            <td>{{  farola_izq|join:", " }}</td>
                            <td>STOP DERECHO:</td>
                            <td>{{  stop_der|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>EXPLORADORAS:</td>
                            <td>{{  exploradoras|join:", " }}</td>
                            <td>TERCER STOP:</td>
                            <td>{{  tercer_stop|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>ANTINIEBLA:</td>
                            <td>{{  antiniebla|join:", " }}</td>
                            <td>PANORAMICO TRASERA:</td>
                            <td>{{  panoramico_tra|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>ESPEJO IZQUIERDO:</td>
                            <td>{{  espejo_izq|join:", " }}</td>
                            <td>VIDRIOS CUSTODIOS:</td>
                            <td>{{  vidrios_custodios|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>ESPEJO DERECHO:</td>
                            <td>{{  espejo_der|join:", " }}</td>
                            <td>VIDRIOS TRASEROS DERECHO:</td>
                            <td>{{  vidrios_tra_der|join:", " }}</td>
                        </tr>
                        <tr>
                            <td>VIDRIOS DEL IZQUIERDO:</td>
                            <td>{{  vidrios_del_izq|join:", " }}</td>
                            <td>VIDRIOS DEL DERECHO:</td>
                            <td>{{  vidrios_del_der|join:", " }}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_vidrios }}
                </div>
            </div>
        </div>

        <!-- LLantas Section -->
        <div class="section">
            <div class="section-title">
                LLANTAS
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>PORCENTAJE</th>
                            <th>NOTA</th>
                        </tr>
                        <tr>
                            <td>LLANTAS DEL. DER:</td>
                            <td>{{  llantas_del_der }}  %</td>
                            <td>{{  llantas_del_der_nota }}</td>
                        </tr>
                        <tr>
                            <td>LLANTAS DEL. IZQ:</td>
                            <td>{{  llantas_del_izq }}  %</td>
                            <td>{{  llantas_del_izq_nota }}</td>
                        </tr>
                        <tr>
                            <td>LLANTAS TRAS. DER:</td>
                            <td>{{  llantas_tra_der }}  %</td>
                            <td>{{  llantas_tra_der_nota }}</td>
                        </tr>
                        <tr>
                            <td>LLANTAS TRAS. IZQ:</td>
                            <td>{{  llantas_tra_izq }}  %</td>
                            <td>{{  llantas_tra_izq_nota }}</td>
                        </tr>
                        <tr>
                            <td>LLANTA REP:</td>
                            <td>{{  llanta_reemplazo }}  %</td>
                            <td>{{  llanta_reemplazo_nota }}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_llantas }}
                </div>
            </div>
        </div>

        <!-- Fugas Section -->
        <div class="section">
            <div class="section-title">
                FUGAS
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>ACEITE DE MOTOR:</td>
                            <td>{{  aceite_de_motor_datos }}</td>
                            <td>ACEITE HIDRAULICOS:</td>
                            <td>{{  aceite_hidraulicos_datos }}</td>
                        </tr>
                        <tr>
                            <td>ACEITE DE CAJA:</td>
                            <td>{{  aceite_de_caja_datos }}</td>
                            <td>REFRIGERANTE:</td>
                            <td>{{  refrigerante_datos }}</td>
                        </tr>
                        <tr>
                            <td>LIQUIDO DE FRENOS:</td>
                            <td>{{  liquido_de_frenos_datos }}</td>
                            <td>COMPRESOR A/A:</td>
                            <td>{{  compresor_aa_datos }}</td>
                        </tr>
                        <tr>
                            <td>AMORTIGUADORES DELANTEROS:</td>
                            <td>{{  amortiguadores_delanteros_datos }}</td>
                            <td>AMORTIGUADORES TRASEROS:</td>
                            <td>{{  amortiguadores_traseros_datos }}</td>
                        </tr>
                        <tr>
                            <td>JUNTAS HOMOCINETICAS:</td>
                            <td>{{  juntas_homocineticas_datos }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
    
                <!-- Additional Information -->

                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_fugas }}
                </div>
            </div>
        </div>

        <!-- Niveles Section -->
        <div class="section">
            <div class="section-title">
                NIVELES
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>ACEITE MOTOR:</td>
                            <td>{{  aceite_motor_niveles }}</td>
                            <td>REFRIGERANTE:</td>
                            <td>{{  refrigerante_niveles }}</td>
                        </tr>
                        <tr>
                            <td>ACEITE HIDRAULICO:</td>
                            <td>{{  aceite_hidraulico_niveles }}</td>
                            <td>LIQUIDO FRENOS:</td>
                            <td>{{  liquido_frenos_datos }}</td>
                        </tr>
                        <tr>
                            <td>LAVAPARABRISAS:</td>
                            <td>{{  lavaparabrisas_datos }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
    
                <!-- Additional Information -->

                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;;">
                    <strong>RECHAZO:</strong> {{  rechazado_datos_niveles }}
                </div>
            </div>
        </div>


        <!-- Testigos Section -->
        <div class="section">
            <div class="section-title">
                TESTIGOS
            </div>
            <div class="section-content">
                <table>
                    <tbody>
                        <tr>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                            <th>COMPONENTE</th>
                            <th>ESTADO</th>
                        </tr>
                        <tr>
                            <td>CHECK ENGINE:</td>
                            <td>{{  check_engine_datos }}</td>
                            <td>CONTROL TRACCION:</td>
                            <td>{{  control_traccion_datos }}</td>
                        </tr>
                        <tr>
                            <td>TESTIGO ABS:</td>
                            <td>{{  testigo_abs_datos }}</td>
                            <td>TESTIGO AIRBAG:</td>
                            <td>{{  testigo_airbag_datos }}</td>
                        </tr>
                        <tr>
                            <td>TESTIGO FRENOS:</td>
                            <td>{{  testigo_alerta_frenos }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <!-- Additional Information -->

                <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
                    <strong>RECHAZO:</strong> {{  rechazado_testigos }}
                </div> 
            </div>
        </div>

        <!-- Rechazado por Politicas Section -->
        <div class="section">
            <div class="section-title">
                RECHAZADO POR POLITICAS
            </div>
            <div class="section-content">
                <div style="margin-top: 6px; padding: 0 12px 20px;">
                    <strong>RECHAZO:</strong> {{  rechazado_politicas }}
                </div>
            </div>
        </div>


        <div class="section">
            <div class="section-title">
                ACCESORIOS
            </div>
            <div class="section-content">
                <div style="margin-top: 10px; padding: 0 12px 20px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accesorio in accesorios %}
                            <tr>
                                <td>{{ accesorio.marca }}</td>
                                <td>{{ accesorio.descripcion }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                OBSERVACIONES GENERALES
            </div>
            <div class="section-content">
                <div style="margin-top: 10px; padding: 0 12px 20px;">
                    <p>{{  comentario }}</p>
                </div>
            </div>
        </div>
        <div class="page-break"></div>

        <div class="section">
            <div class="section-title">
                IMÁGENES
            </div>
            <div class="section-content">
                <div style="margin-top: 10px; padding: 0 12px 20px;">
                    {% for ruta in  imagenes_rutas %}
                    <img src="{{ ruta }}" alt="Imagen subida">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="margin-top: 4px;margin-bottom: 4px; padding: 3px 2px 0px 4px;">
            PERITO: {{  perito }}
        </div>
        <div style="padding: 0; margin: 0;color: #333333f8;font-size: 12px;">
            <p>CONSORCIO MUNDIAL Y ESPECIALIZADOS CME <br>Gmail: jcnetcol@gmail.com <br>Telefono:305 8128296 <br>BOGOTA-COLOMBIA</p>
        </div>
    </main>
        
    </div>
    

</body>
</html>